@import "../../../colors/index.scss";


.search-content{
    background-color: $button-background;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .all-search-container{
        padding-top: 55px;
        display: flex;
        flex-wrap: wrap;
        background-color: $black;
        justify-content: space-around;
        align-items: center;
        .search-movie-box{
            margin-bottom: 10px;
            position: relative;
            .MuiTypography-root{
                position: absolute;
                background-color: $button-background;
                color: $white;
                width: 100%;
                font-size: 20px;
            }
            img{
                width: 350px;
                height: 250px;
            }
            button{
                position: absolute;
                bottom: 5px;
                width: 100%;
                background-color: $button-background;
                color: $white;
                border: none;
                border-radius: initial;
                &:hover{
                    background-color: $white;
                    color: $black;
                }
            }
        }
        
    }
    .search-movies{
        border-radius: 45px;
        height: 555px;
        background-image: url("../../../assets/jonny-back.png");
        background-position: fixed;
        background-size: cover;
        .title-search{
            font-family: $title-font;
            color: $black;
            margin-bottom: 70px;
            font-weight: 700;
            margin-top: 50px;
        }
        .subtitle-search{
            font-size: 35px;
            color: $white;
            margin-bottom: 30px;
        }
        .MuiFilledInput-root{
            background-color: $white;
            width: 350px;
            border-radius: 55px;
            &:before, &:after{
                border-bottom: 0px;
            }

        }
        .search-appear{
            margin-top: 15px;
            .MuiTypography-root{
                color: $white;
                font-size: 20px;
            }
        }
    }
}