@import "/src/colors/index.scss";

.header{
    z-index: 999;
    .MuiAppBar-root{
        z-index: 999;
        display: flex;
        flex-direction: inherit;
        align-items: center;
        justify-content: space-between;
        background: radial-gradient(100% 100% at 49.85% 0%, #151515 0%, rgba(26, 26, 26, 0.66) 48.44%, rgba(98, 89, 89, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        background-blend-mode: color-burn;
        .options-header{
            display: grid;
            width: 50%;
            grid-template-columns: 1fr 1fr 1fr 1.5fr;
            z-index: 999;
            align-items: center;
            .header-list-item{
                display: flex;
                cursor: pointer;
                justify-content: center;
                text-align: center;
                height: 48px;
                align-items: center;
                list-style: none;
                &:hover{
                    background: radial-gradient(100% 100% at 49.85% 0%, #151515 0%, rgba(98, 89, 89, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                    background-blend-mode: color-burn;
                }
        }
    }
        .logo-section{
            z-index: 999;
        }
        .search-bar-home{
            z-index: 999;
            .MuiFilledInput-root{
                button{
                    svg{
                        path{
                            stroke: $white;
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}
