@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

$red: #E73C3C;
$white: #ffffff;
$transparent: transparent;
$black: #000000;
$button-background: rgba(154, 154, 154, 0.53);

$title-font: 'Nunito Sans', sans-serif;