@import "../../../colors/index.scss";

.awards-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    .subtitle-awards{
        font-size: 24px;
        color: $white;
    }
    .awards-movies{
        .award-box{
            img{
            width: 250px;
            }
        }
    }
}